<div class="mt-2">
  <div class="container-fluid">

    <div class="tab-content">
      <form (ngSubmit)="calcul()" #questionForm="ngForm" *ngIf="!displayRapport">
        <h2 class="text-info mb-3">Informations</h2>
        <div class="mb-2 mt-1 col-8 border-secondary">
          <div class="m-1 mt-3 row ">
            <label class="col-3"><h6>Audit fait pour <i class="text-danger">*</i></h6></label>
            <input type="text" class="form-control col-8" placeholder="Entreprise" name="entreprise"
                   [(ngModel)]="quiz.entreprise" #entreprise="ngModel" required>
          </div>
          <div class="m-1 row">
            <label class="col-3"><h6>Réalisé par <i class="text-danger">*</i></h6></label>
            <input type="text" class="form-control col-8" placeholder="Nom & Prénom" name="realisateur"
                   [(ngModel)]="quiz.realisateur" #realisateur="ngModel" required>
          </div>
          <div class="m-1 row">
            <label class="col-3"><h6>Email <i class="text-danger">*</i></h6></label>
            <input type="text" class="form-control col-8" placeholder="email" name="email" [(ngModel)]="quiz.email"
                   #email="ngModel" required>
          </div>
        </div>
        <div>
          <h4 class="text-info mb-3"> Merci de répondre aux questions</h4>
          <div class="card border-secondary mb-4 ">
            <div class="d-flex justify-content-between align-items-center card-header bg-gradient" id="h1">
              <!--              <span><h3>{{list.category}}</h3></span>-->
              <button type="button" data-toggle="collapse" data-target="#q1" aria-expanded="false" aria-controls="q1"
                      class="btn btn-outline-light">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </button>
            </div>
            <div id="q1" class="collapse show" aria-labelledby="h1"
                 *ngFor="let question of questions; let i=index">
              <div class="card-body">
                <i><h6><em>Question {{i + 1}}: </em> {{question.body}}
                  <i *ngIf="question.description" class=" fa fa-question-circle text-info" aria-hidden="true"
                     title="{{question.description}}"></i></h6></i>
                <select class="form-select form-control col-4"
                        (change)="selectResponse(quiz.questions[i].response,i,'cat')" name="response"
                        [(ngModel)]="quiz.questions[i].response" #response="ngModel" required>
                  <option [value]=""></option>
                  <option *ngFor="let response of question.responses;"
                          [ngValue]="response">{{response.body}}</option>
                </select>


                <div *ngIf="question.subQuestions">
                  <div *ngFor="let subQuestion of question.subQuestions;let j=index" class="m-4">
                    <div *ngIf="subQuestion.display">
                      <label><h6>{{subQuestion.body}}</h6></label>
                      <i *ngIf="subQuestion.description" class=" fa fa-question-circle text-info"
                         title="{{subQuestion.description}}"></i>
                      <select class="form-select form-control col-4"
                              name="subResponse"
                              [(ngModel)]="quiz.questions[i].subQuestions[j]" #subResponse="ngModel" required>
                        <option *ngFor="let response of subQuestion.responses"
                                [ngValue]="response">{{response.body}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <input type="submit" name="submit" class="btn btn-success m-2 float-end" value="Valider"
          />
          <!--          [disabled]="questionForm.invalid"-->
        </div>
      </form>
      <div *ngIf="displayRapport">
        <app-rapport [recomandations]='recomandations' [infos]='infos' [score]="finalScore"></app-rapport>
      </div>
    </div>
  </div>
</div>
