<div class="mt-2">
  <div class="container-fluid">
    <div class="tab-content">
      <main class="container">
        <strong class="d-block text-gray-dark">Rapport réalisé par : {{infos.realisateur}}</strong>
        <br>
        Pour: <strong>  {{ infos.entreprise}} </strong>
        <br>
        Votre score final est : <strong> {{score | number:'1.0-2'}} % </strong>
        <strong class="d-block text-gray-dark">Nos recommandations : </strong>

        <div *ngIf="recomandations">
          <ul *ngFor="let recomandation of recomandations">
            <li *ngIf="recomandation">{{recomandation}}</li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</div>
